// variables
:root {
  --text: 'Work Sans', sans-serif;
}
$body: 'Work Sans', sans-serif;

$light-blue: #00b0f0;
$mid-blue: #2a5669;
$dark-blue: #102a5e;

$footer-height: 5vh;

$cold-blue: #3f5a9e;
$light-blue-grey: #d4dcea;
$light-blue: #e8edff;

$primary-color: #0040ff;
$secondary-color: #b7c5ff;
$primary-color-dark: #1544d0;
$light-hover: #4976ff;
$gray: #e0e0e0;
$grey2: #757985;
$grey3: #c4c4c4;
$light-white: #f9f9f9;
$black: #000000;
$white: #ffffff;
$yellow: #ffde03;
$yellow-light: #fff193;
