// variables
:root {
  --text: 'Work Sans', sans-serif;
  --color-primary: #fff6ef;
  --color-secondary: #3b968b;
  --color-tertiary: #ffe8c8;
  --color-text-dark: #2e2d29;
  --color-text-dark-4: #827d78;
  --color-text-light: #6d6964;

  --white: #fff;

  --shadow: 0 4.17px 14.16px 0 rgba(0, 0, 0, 0.15);
}
$body: 'Work Sans', sans-serif;
