// variables
:root {
  --text: 'Work Sans', sans-serif;
  --color-primary: #fff6ef;
  --color-secondary: #3b968b;
  --color-text-dark: #2E2D29;
  --color-text-light: #6d6964;

  --white: #fff;
}
$body: 'Work Sans', sans-serif;
