*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {  // width < 1200?
    font-size: 56.25%;
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body{
  /*background: url('../images/manifest_footer_large.svg') no-repeat center bottom $white;*/
  box-sizing: border-box;
  font-family: $avenir;
  max-width: 114rem;
  min-height: 100vh;
  background-color: $white;
  overflow-x: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}