*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;

  @include respond(tab-land) {  // width < 1200?
    //font-size: 56.25%;
  }

  @include respond(tab-port) { // width < 900?
    //font-size: 50%;
  }
  @include respond(big-desktop) {
    //font-size: 75%;
  }
}

body {
  background: #ccc;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: $inter-regular;
  color: $dark-grey;
}

.compare-col {
  display: flex;
  flex-direction: column;
}

.compare-row {
  display: flex;
  justify-content: space-around;
}
