.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: 5%;
  width: 100%;

  &--center {
    @include absCenter;
  }
}
.btn {
  display: inline-block;
  background: $blue;
  color: #fff;
  font-family: $avenir;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 1.4rem 2.5rem;
  width: 20%;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &--disabled {
    @extend .btn;
    //pointer-events: none;
    background: $light-grey;

  }

  &:hover,
  &:focus {
    outline: none;
  }
}
.btn-large {
  @extend .btn;
  margin: 2rem auto;
  font-size: 1.8rem;
  padding: 1.3rem .8rem;
  display: inline;
  width: 40%;
}
.btn-grey {
  @extend .btn-large;
  background: $light-grey-2;
  color: #000;
}
.btn-dark-grey {
  @extend .btn;
  background: $dark-grey;
  color: #fff;
}
.btn-white {
  @extend .btn-large;
  background: #fff;
  color: $tiaa-blue;
}

.btm-fixed {
  position: absolute;
  bottom: 2rem;
  right: 50%; left: 50%;
  transform: translate(-50%, -50%);

  &--2 {
    bottom: -2.7rem;
  }
}

.btn-grey-2 {
  color: $blue;
  background: $light-grey-2;
}

.btn-sm {
  padding: 1rem 1.2rem;
  width: 35%;
  margin: 0 auto;
  display: flex;
}

.button-col {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    width: 33.333%;
  }
}

.tiaa-btn {background: #397CA9 !important;}
.fidelity-btn {background: #3D836E !important;}
.charles-btn {background: #3DB6E2 !important;}
.wells-btn {background: #B74843 !important;}



.radio-row {
  position: relative;
  margin-bottom: 4rem;

  &--2 {
    display: flex;
    margin-bottom: 1rem;
  }
}

.radio-label {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 3rem;
}

.radio-input {


  &--left {
    left: 2rem;
    top: 0; // both need to match .radio-img to select radio
  }
}

.radio-img {
  content: url("../../assets/img/silver-check.png");
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 3rem;

  &--left {
    left: 2rem;
    top: 0;
  }
}

[type=radio] {
  position: absolute;
  right: 3rem;
  opacity: 0;
  height: 2rem;
  width: 2rem;
  z-index: 2;
  cursor: pointer;
}

:checked + .radio-img {
  content: url("../../assets/img/check_small.png");
}

.checked {
  content: url("../../assets/img/check_small.png") !important;
}




























