.back-green { background: $green !important;}

.fidelity-logo {
  width: 20rem;
  height: auto;
  margin: 3.5rem auto;
}

.wells-logo {
  width: 20rem;
  height: auto;
  margin: 1rem auto 2rem auto;
}