.footer {
  padding: 40px 0 20px;
  text-align: center;

  @include respond (phone) {
    font-size: 10px;
  }

  &__copyright {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    margin: 0 auto 14px auto;

    @include respond (phone) {
      margin: 0 auto 10px auto;
    }
  }

  &__legal {
    font-size: 12px;
  }
}