.footer {
  padding: 40px 15px 15px 20px;
  margin-bottom: 25px;
  text-align: center;

  @include respond (phone) {
    font-size: 10px;
  }

  &__copyright {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    max-width: 290px;
    margin: 0 auto 14px auto;
    gap: 25px;

    .socials {
      display: flex;
      margin-right: 25px;

      .u-mr {
        margin-right: 11px;
      }
    }

    @include respond (phone) {
      margin: 0 auto 10px auto;
      font-size: 12px;
    }
  }

  &__legal {
    font-size: 12px;

    @include respond (phone) {
      font-size: 10px;
      line-height: 14px;
    }
  }
}