.search {
  background: #fff;
  width: 80%;
  margin: 3rem auto;
  border-radius: .5rem;
  border: none;
  padding: 1rem;
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  a {
    max-width: 25rem;
  }

  &__link {
    width: 50%;
    align-self: center;
  }

  &__logo {
    width: 60%;
    height: 5rem;
    background: #fff;
    padding: 1rem 1.5rem;
    margin: 1rem 2rem;
    border-radius: 1rem;


    //&:not(:first-child) {
    //  background-image: linear-gradient(to bottom, rgba($light-grey, 0.8), rgba($light-grey, 0.8));
    //  z-index: 999;
    //}

    &--sm {
      height: 3rem;
      padding: 2rem;
    }

    &--green {
      background-color: $green;
    }
    &--blue {
      background-color: $charles-blue;
    }
    &--blue-mid {
      background-color: $mutal-blue;
    }
    &--blue-pru {
      background-color: $prudential-blue;
      height: 2.5rem;
      padding: 2rem 1.5rem;
    }
    &--dark-blue {
      background-color: $wealthfront-blue;
    }
    &--light-green {
      background-color: $td-green;
    }
    &--red-1 {
      background-color: $empower-red;
    }
    &--red-2 {
      background-color: $fargo-red;
    }
  }
}
.cover {
  opacity: .5 !important;
}

//LAST sections

.explore {
  color: $blue;
  text-align: center;
  font-size: 1.7rem;
  margin-top: 4rem;
  text-decoration: none;
}

.white-bg {
  background: #fff;
  padding: 4rem 0;
  border-radius: 3px;
  width: 90%;
  margin: 0 auto;
}

.option-text {
  font-family: $inter-bold;
  font-weight: 800;
  color: $grey;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 3rem;
}