.container {
  font-family: $avenir;
  width: 100vw;
  min-height: calc(75vh - #{$footer-height});
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  @include respond(phone) {
    flex-direction: column;
  }
}


.text-box {
  padding: 1.5rem;
  margin-right: 3rem;
  width: 45vw;
  height: auto;

  @include respond(phone) {
    width: 80vw;
    text-align: center;
  }
}

.img {
  box-shadow: 0 1rem 2rem rgba(black, .15);
  border-radius: 5px;
  width: 40vw;
  max-width: 800px;
  height: auto;

  @include respond(phone) {
    width: 70vw;
  }
}

.heading {
  font-size: 3.7rem;
  margin-bottom: 1rem;

  &--sub {
    font-size: 2.6rem;
  }

  @include respond(tab-land) {
    font-size: 3rem;
    &--sub {
      font-size: 2rem;
    }
  }
  @include respond(small-phone) {
    font-size: 2.2rem;
    &--sub {
      font-size: 1.5rem;
    }
  }
}


.btn-double-border {
  position: relative;
  display: inline-block;
  margin-top: 3rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  border: 1.5px solid $dark-blue;
  //border-radius: 3px;
  color: black;

  font-size: 1.5rem;
  padding: 1.5rem 3rem 2rem 3rem;
  text-decoration: none;

  &::before {
    border: 1.5px solid $dark-blue;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: all 0.3s ease 0s;
  }

  &:hover {
    background: $dark-blue none repeat scroll 0 0;
    color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
  }

  &:hover::before {
    right: 0;
    top: 0;
  }

  @include respond(phone) {
    font-size: .6rem;
    border: 1px solid $dark-blue;
    padding: .5rem 1rem 1.5rem 1.5rem;

    &:before {
      border: 1px solid $dark-blue;
      right: -5px;
      top: -8px;
    }
  }
}
