<!-- about mainfest -->
<section class="about-mainfest">
    <div class="container">
        <h1 class="heading inner">About Mainfest</h1>
        <div class="about-content">
            <div class="col">
                <p>
                    At Manifest, it’s our mission to maximize retirement outcomes. We are a small team of technologists and retirement professionals focused on helping millions of Americans consolidate their retirement accounts as they change jobs.
                </p>
            </div>
            <div class="col">
                <p>
                    Everyday we’re moving towards our mission. If you’d like to join us, we would love to hear from you! Please check out <a href="#">our job board</a> or send us a message at hello [at] manifestledger.com.
                </p>
            </div>
        </div>
        <div class="contact-action">
            <a href="#" class="btn btn-primary">Contact Us <i><img src="./assets/images/arrow-right.png" alt=""></i></a>
        </div>
    </div>
</section>

<section class="brand-sec">
    <div class="container">
        <h2 class="heading sub inner">You're in good hands...</h2>

        <div class="inverster-info">
            <div class="col">
                <img src="./assets/images/kristi-ross.jpg" alt="">
            </div>
            <div class="col">
                <img src="./assets/images/bobby-mehta.jpg" alt="">
            </div>
            <div class="col">
                <img src="./assets/images/other-invester.jpg" alt="">
            </div>
        </div>

        <div class="brand-logo">
            <div class="col">
                <img src="./assets/images/psp-partners.png" alt="" width="221">
            </div>
            <div class="col">
                <img src="./assets/images/GB_FullLogo_Horizontal-1-475x134.png" alt="" width="223">
            </div>
            <div class="col">
                <img src="./assets/images/uc_wordmark_hires.png" alt="" width="199">
            </div>
            <div class="col">
                <img src="./assets/images/PGVC.png" alt="" width="202">
            </div>
        </div>
        
    </div>
</section>