<!-- about mainfest -->
<section class="about-mainfest">
    <div class="container">
        <h1 class="heading inner">About Manifest</h1>
        <div class="about-content">
            <div class="col">
                <p>
                    At Manifest, it’s our mission to maximize retirement outcomes. We are a small team of technologists
                    and retirement professionals focused on helping millions of Americans consolidate their retirement
                    accounts as they change jobs.
                </p>
            </div>
            <div class="col">
                <p>
                    Everyday we’re moving towards our mission. If you’d like to join us, we would love to hear from you!
                    Please check out <a
                        href="https://paper.dropbox.com/doc/Jobs-at-Manifest--AgIvNQWTGsDCRN99CwNbuCEHAQ-bdTaasv6OEPbSkTCnHRhV"
                        target="_blank">our job board</a> or send us a message at hello [at] manifestledger.com.
                </p>
            </div>
        </div>
        <div class="contact-action">
            <a href="#" class="btn btn-primary">Contact Us <i><img src="../assets/images/arrow-right.png"
                        alt=""></i></a>
        </div>
    </div>

    <picture class="about-us-container container">
        <source media="(min-width: 768px)" srcset="/assets/images/aboutUs-lg.png" class="about--img">
        <source media="(min-width: 430px)" srcset="/assets/images/aboutUs-md.jpg" class="about--img">
        <img src="/assets/images/aboutUs-sm.jpg" alt="About Us Team" class="about--img">
    </picture>

    <div class="brand-sec">
        <div class="brand-sec--title">
            <div class="yellow-line-about"></div>
            <h2 class="heading ">You’re in good hands...</h2>
        </div>

        <div class="brand-sec__investors container">
                <img src="/assets/images/investors/PSP.png" alt="">
                <img src="/assets/images/investors/GBC.png" alt="">
                <img src="/assets/images/investors/FSL.png" alt="">
                <img src="/assets/images/investors/PG.png" alt="">
                <img src="/assets/images/investors/UC.png" alt="">
                <img src="/assets/images/investors/GSV.png" alt="">
               
                <div class="ft-investors">
                    <h4>KRISTI ROSS</h4>
                    <span class="ft-sub">CEO and President of Tastytrade</span>
                </div>
                <div class="ft-investors">
                    <h4>BOBBY MEHTA</h4>
                    <span class="ft-sub">Former CEO of HSBC</span>
                </div>
                <div class="ft-investors">
                    <h4>OVER nine</h4>
                    <span class="ft-sub">Other Angel Investors</span>
                </div>
        </div>
    </div>

</section>