<!-- about mainfest -->
<section class="about">

    <section class="about__hero">
        <div class="about__hero__text">
            <h1 class="heading">Our Company</h1>
            <p>
                At Manifest, it’s our mission to maximize retirement outcomes. We are a small team of technologists and
                retirement professionals focused on helping millions of Americans consolidate their retirement accounts
                as they change jobs.
            </p>
            <p>
                Everyday we’re moving towards our mission. If you’d like to join us, we would love to hear from you!
                Please check out
                <a href="https://paper.dropbox.com/doc/Jobs-at-Manifest--AgIvNQWTGsDCRN99CwNbuCEHAQ-bdTaasv6OEPbSkTCnHRhV"
                    target="_blank" class="job-board">our job board
                </a>
                or send us a message at hello[at]manifestledger.com.
            </p>
        </div>
        <img src="/assets/images/about/about-us.png" class="about__hero--img" alt="About Us">
    </section>

    <section class="stories">
        <div class="stories__wrapper">

            <div class="stories__text">
                <hr class="yellow-line--about">
                <h2 class="heading">Retirement Stories</h2>
                <p>Manifest is launching a new project called Retirement Stories! Read about people’s real-life
                    experiences
                    with retirement savings to better prepare for your future.</p>
            </div>

            <a href="{% link 404.html %}" class="btn--request-demo">Learn More</a>
        </div>

    </section>

    <section class="brand-sec">
        <div class="brand-sec--title">
            <hr class="yellow-line--about">
            <h2 class="heading">You’re in good hands...</h2>
        </div>

        <div class="brand-sec__investors">
            <img src="/assets/images/about/investors/PSP.png" alt="PSP Partners">
            <img src="/assets/images/about/investors/GBC.png" alt="Gingerbread partners">
            <img src="/assets/images/about/investors/FSL.png" alt="Financial Solutions Lab">
            <img src="/assets/images/about/investors/PG.png" alt="Pritzker Group">
            <img src="/assets/images/about/investors/UC.png" alt="The University of Chicago">
            <img src="/assets/images/about/investors/GSV.png" alt="GSV AcceleraTE">

            <div class="investor">
                <h4 class="investor--name">KRISTI ROSS</h4>
                <span class="investor--title">CEO and President of Tastytrade</span>
            </div>
            <div class="investor">
                <h4 class="investor--name">BOBBY MEHTA</h4>
                <span class="investor--title">Former CEO of HSBC</span>
            </div>
            <div class="investor">
                <h4 class="investor--name">Many more</h4>
                <span class="investor--title">Supportive Investors and Advisors</span>
            </div>
        </div>
    </section>

</section>