<div class="chat welcome back-blue-light">
    <div class="top">
        <h3 class="verify-code white-text">Enter Your Credentials <a class="x white-text" onclick="goBack()"></a></h3>
        <div class="line--2"></div>
    </div>

    <img src="{{ site.baseurl }}/assets/img/charles-schwab-logo-white.png" alt="" class="fidelity-logo">

    <img src="../assets/img/CharlesSchwab_Successful_check.png" alt="" class="check">

    <h1 class="heading--white">Your Account was successfully linked to your previous 401(k) plan!</h1>

    <a href="{{ site.baseurl }}/link_like_charles/" class="btn-large charles-btn">Continue</a>
</div>