<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>


    <h1 class="heading--top text-center">Compare <span class="highlight--blue">IRA</span> and <span
            class="highlight--blue">Robo</span> providers</h1>

    <div class="companies u-mg-btm-mid">
        <a href="{{ site.baseurl }}/fidelity_login" class="companies__link">
            <img src="{{ site.baseurl }}/assets/img/FidelityLogo.png"
                 class="companies__logo companies__logo--green companies__logo--sm">
        </a>
        <a href="{{ site.baseurl }}/fidelity_login" class="companies__link">
            <img src="{{ site.baseurl }}/assets/img/td.png" class="companies__logo companies__logo--light-green">
        </a>
    </div>

    <div class="compare-row">
        <div class="col-2">
            <p class="text--black--2 text--black--md">Top <br> Research</p>
            <p class="blue-text blue-text--sm u-mg-left-sm">Highlights</p>
        </div>
        <div class="col-2">
            <p class="text--black--2 text--black--md">Low-Cost <br> Funds</p>
            <p class="blue-text blue-text--sm u-mg-left-sm">Highlights</p>
        </div>
    </div>

    <div class="compare-row">
        <div class="col-2">
            <p class="text--black--2"><small>$</small>4.95</p>
            <p class="blue-text">Commissions</p>
        </div>
        <div class="col-2">
            <p class="text--black--2"><small>$</small>2.95</p>
            <p class="blue-text">Commissions</p>
        </div>
    </div>

    <div class="compare-row">
        <div class="col-2">
            <p class="text--black--2"><small>$</small>0.00</p>
            <p class="blue-text">Account Minimum</p>
        </div>
        <div class="col-2">
            <p class="text--black--2"><small>$</small>0.00</p>
            <p class="blue-text">Account Minimum</p>
        </div>
    </div>

    <div class="btn-container u-btm-none">
        <a href="{{ site.baseurl }}/fidelity_list" class="btn">Select</a>
        <a href="{{ site.baseurl }}/fidelity_list" class="btn">Select</a>
    </div>
</div>
