<section class="contact">
    <div class="container flex-grid">
        <h1 class="heading inner">Get In Touch</h1>

        <div class="col form-contact">
            <form id="form-contact" name="submit-to-google-sheet">
                <div class="form" tabindex="0">
                    <div class="col span-12">
                        <div class="full-name">
                            <div class="label">
                                <label id="3-219-label" for="3-219">Full Name</label>
                            </div>
                            <div class="span-6" style="width: 50%; float: left;">
                                <input type="text" id="0-220" placeholder="First" title="First" name="firstName"
                                    required>
                            </div>
                            <div class="span-6" style="width: 50%; float: left;">
                                <input type="text" id="1-220" placeholder="Last" title="Last" name="lastName" required>
                            </div>
                        </div>
                        <div class="email field  col-1 sml-col-1 span-24 sml-span-12  required">
                            <div class="label">
                                <label id="3-219-label" for="3-219">Email</label>
                            </div>
                            <div class="email">
                                <input type="email" id="3-219" placeholder="johndoe@manifestledger.com" name="email"
                                    novalidate="" required>
                            </div>
                        </div>
                        <div class="text-multiplelines field  col-1 sml-col-1 span-24 sml-span-12">
                            <div class="label">
                                <label id="4-218-label" for="4-218">Message</label>
                            </div>
                            <div class="editor">
                                <textarea id="4-218" placeholder="" title="message" name="message"></textarea>
                            </div>
                        </div>

                        <div class="btn">
                            <button type="submit" class="btn-solid-blue contact-btn" id="submit-button">Submit</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <div class="col contact-info">
            <h5 class="contact-title">Address</h5>
            <address>Polsky Exchange</br />1452 E 53rd St,</br />2nd FLOOR</br />Chicago, IL 60615</address>

            <h5 class="contact-title">Contact</h5>
            <p>hello@manifestledger.com</br />(847) 220-4815</p>
        </div>
    </div>
</section>


<!-- polyfills for fetch api -->
<script src="https://wzrd.in/standalone/formdata-polyfill"></script>
<script src="https://wzrd.in/standalone/promise-polyfill@latest"></script>
<script src="https://wzrd.in/standalone/whatwg-fetch@latest"></script>

<script>
    // click link below to view form submissions
    //https://docs.google.com/spreadsheets/d/1Yi0d90pNaNWyapom1nR1ccnetbVnAqdxPBlUVL0DRfY/edit?usp=sharing

    // documentation for google sheets JS intergration
    // https://github.com/jamiewilson/form-to-google-sheets

    const scriptURL = 'https://script.google.com/macros/s/AKfycbyWCIvfXHv6kZA_h5gs3Ewr4Tx1_CVKbEk76v9wo_OvlteJx6k/exec'
    const form = document.forms['submit-to-google-sheet']

    form.addEventListener('submit', e => {
        e.preventDefault()
        fetch(scriptURL, {
                method: 'POST',
                body: new FormData(form)
            })
            .then(response => console.log('Success!', response))
            .catch(error => console.error('Error!', error.message))
    })

    document.getElementById('form-contact').addEventListener('submit', function () {
        var button = document.getElementById('submit-button');
        button.innerText = 'Message Sent';
        button.disabled = e;
    });
</script>