<section class="contact">

    <div class="u-max-w">
    <h2 class="contact--title">Get In Touch</h2>

    <div class="contact__container">
        <form id="form-contact" class="contact__container__form" name="submit-to-google-sheet">
            <label for="name">First Name</label>
            <div class="inputs">
                <input type="text" placeholder="John Doe" title="First" name="firstName" id="name" required>
            </div>

            <label for="email">Email</label>
            <div class="inputs">
                <input type="email" placeholder="johndoe@manifestledger.com" name="email" id="email" required>
            </div>

            <label for="message">Message</label>
            <textarea placeholder="Optional" title="message" name="message" id="message"></textarea>

            <button type="submit" id="submit-button" class="btn--request-demo">Request Demo</button>
        </form>

        <div class="contact__container__info">
            <h5 class="contact__container__info--title">Address</h5>
            <address>Polsky Exchange</br />1452 E 53rd St,</br />2nd FLOOR</br />Chicago, IL 60615</address>

            <h5 class="contact__container__info--title">Contact</h5>
            <p>hello@usemanifest.com</br />(847) 220-4815</p>
        </div>
    </div>
    </div>

</section>

<script src="/assets/js/contact.js"></script>