<section class="contact">
    <h1 class="heading contact--heading">Get In Touch</h1>

    <div class="contact__container">
        <form id="form-contact" class="contact__container__form" name="submit-to-google-sheet">

            <label>Full Name</label>
            <div class="name">
                <input type="text" placeholder="First" title="First" name="firstName" required>
                <input type="text" placeholder="Last" title="Last" name="lastName" required>
            </div>

            <label>Email</label>
            <input type="email" placeholder="johndoe@manifestledger.com" name="email" novalidate="" required>

            <label>Message</label>
            <textarea placeholder="Enter your message" title="message" name="message"></textarea>

            <button type="submit" id="submit-button" class="btn--submit-form">Submit</button>

        </form>

        <div class="contact__container__info">
            <h5 class="contact__container__info--title">Address</h5>
            <address>Polsky Exchange</br />1452 E 53rd St,</br />2nd FLOOR</br />Chicago, IL 60615</address>

            <h5 class="contact__container__info--title">Contact</h5>
            <p>hello@manifestledger.com</br />(847) 220-4815</p>
        </div>
    </div>

</section>


<!-- polyfills for fetch api -->
<script src="https://wzrd.in/standalone/formdata-polyfill"></script>
<script src="https://wzrd.in/standalone/promise-polyfill@latest"></script>
<script src="https://wzrd.in/standalone/whatwg-fetch@latest"></script>

<script src="/assets/js/interactions.js"></script>