<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading heading--blue u-mg-sm">Create my Account</h1>

    <form action="" class="form">
        <label for="email" class="form__label">Email</label>
        <input type="email" class="form__input" name="email">

        <label for="phone" class="form__label">Cell Phone</label>
        <input type="number" class="form__input" name="phone">

        <label for="password" class="form__label">Password</label>
        <input type="password" class="form__input" name="password">

        <label for="password-confirm" class="form__label">Confirm Password</label>
        <input type="password" class="form__input" name="password-confirm">
    </form>

    <a href="{{ site.baseurl }}/verify" class="btn btn-large btm-fixed">Create my Account</a>

</div>