<div class="chat welcome" onscroll="updateScroll()">
<div class="top">
    <h3 class="manifest">Manifest</h3>
    <div class="line--2"></div>
</div>


    <div class="placeholder"></div>

    <h1 class="heading">Welcome to <span class="heading--blue">Manifest!</span></h1>

    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut eum, illo iure nobis numquam rerum saepe. Alias aperiam consectetur dolores in.</p>

    <p class="text--grey">SWIPE TO CONTINUE</p>
    <div class="dot-container">
        <a href="{{ site.baseurl }}/index/" class="dot">.</a>
        <a href="{{ site.baseurl }}/prepare/" class="dot dot--light">.</a>
    </div>

    <a href="{{ site.baseurl }}/requirements/" class="btn-large">Create My Account</a>


        <p class="text--grey">Already have an account? <a href="{{ site.baseurl }}/signIn/" class="text--blue">Sign In</a></p>

</div>
