<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line line--20"></div>
    </div>

    <img src="{{ site.baseurl }}/assets/img/dont_worry.png" alt="" class="dont_worry">

    <h1 class="heading heading--top">Most people don't know where they want to transfer, don't worry! <span class="heading--blue">We're here to help</span></h1>

    <ul class="list">
        <li class="item">
            <div class="circle-number">1</div>
            We are completely independent
        </li>
        <li class="item">
            <div class="circle-number">2</div>
            No conflicts of interest
        </li>
        <li class="item">
            <div class="circle-number">3</div>
            No financial goals
        </li>
    </ul>

    <a id="addLink" class="btn btm-fixed" href="{{ site.baseurl }}/active">Continue</a>

</div>