<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <img src="{{ site.baseurl }}/assets/img/fidelity.png" class="fidelity-logo">

    <ul class="list">
        <li class="item">
            <div class="circle-number">1</div>
            Opportunity to actively manage <br><span class="text-wrap">your investments</span>
        </li>
        <li class="item">
            <div class="circle-number">2</div>
            Greater flexibility to invest in <br><span class="text-wrap">various kinds of assets</span>
        </li>
        <li class="item">
            <div class="circle-number">3</div>
            High potential to maximize returns
        </li>
    </ul>

    <a id="addLink" class="btn btm-fixed" href="{{ site.baseurl }}/fidelity_login_last">Continue</a>

</div>