<div class="chat welcome back-green">
    <div class="top">
        <h3 class="verify-code white-text">Enter Your Credentials <a class="x white-text" onclick="goBack()"></a></h3>
        <div class="line--2"></div>
    </div>

    <img src="{{ site.baseurl }}/assets/img/FidelityLogo.png" alt="" class="fidelity-logo">

    <form action="" class="tiaa-form">
        <label for="user" class="tiaa-form__label">User ID</label>
        <input type="text" name="user" class="tiaa-form__input back-green">

        <label for="password" class="tiaa-form__label">Password</label>
        <input type="password" name="password" class="tiaa-form__input u-mg-btm-mid back-green">
    </form>

    <a href="{{ site.baseurl }}/fidelity_success/" class="btn-large fidelity-btn">Login &nbsp; &rarr;</a>

    <p class="text text--white">Reset Password</a>

</div>