<footer class="footer">
  <div class="footer__content u-max-w">
     <div class="footer__content__top">
        <img class='logo' src="../assets/images/logo.svg" alt="" class="footer__content--logo" />
        <div class="socials">
          <img src="../assets/images/socials/linkedin.svg" alt="Linkedin">
          <img class='u-mt' src="../assets/images/socials/twitter.svg" alt="Twitter">
          <img src="../assets/images/socials/Instagram.svg" alt="Instagram">
         </div>
      </div>
    <p class="footer__content__legal">
         ManifestHQ, Inc. © 2021 </br>
         This is not a solicitation or an offer to buy or sell any securities. Investing involves substantial risks, and this material does not provide individualized advice or recommendations.
    </p>
  </div>
</footer>
