<footer class="footer">
   <!--<img class="footer__img" alt="blue gradient design" src="../assets/images/manifest_footer_large.svg">-->
   <p class="footer__copyright">
      <a href="#"><img src="/assets/images/socials/linkedin.svg" alt="linkedIn Profile"></a>
      <a href="#"><img src="/assets/images/socials/twitter.svg" alt="Twitter Page"></a>
      &copy; ManifestHQ, Inc. <script>
         document.write(new Date().getFullYear())
      </script>
   </p>
   <p class="footer__legal">This is not a solicitation or an offer to buy or sell any securities. Investing involves
      substantial risks, and this material does not provide individualized advice or recommendations.</p>
</footer>