<footer class="footer">
   <div class="footer__copyright">
      <div class="socials">
         <a href="https://www.linkedin.com/company/manifesthq"><img src="/assets/images/socials/linkedin.svg" alt="Linked In, Manifest"></a>
         <a href="https://twitter.com/manifest_hq"><img src="/assets/images/socials/twitter.svg" alt="Twitter, Manifest""></a>
      </div>
      <p>&copy; ManifestHQ, Inc. <script>document.write(new Date().getFullYear())</script></p>
   </div>
   <p class="footer__legal">This is not a solicitation or an offer to buy or sell any securities. Investing involves
      substantial risks, and this material does not provide individualized advice or recommendations.</p>
</footer>