<!-- header -->
<header class="header">
  <nav class="nav">
    {{/* Logo */}}
    <div class="nav__logo">
      <a href="/"
        ><img
          src="/assets/images/logo.svg"
          alt="Manifest-Logo-Retirement Transfer"
      /></a>
    </div>

    {{/* Links */}} {% assign current = page.url | downcase | split: '/' %}
    <ul class="nav__links">
      {% if page.active == "about" %}
      <li><a href="/about/" class="nav-link active">About Us</a></li>
      {% else %}
      <li><a href="/about/" class="nav-link">About Us</a></li>
      {% endif %} {% if page.active == "contact" %}
      <li><a href="/contact/" class="nav-link active">Contact</a></li>
      {% else %}
      <li><a href="/contact/" class="nav-link">Contact</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
