<div class="chat" onscroll="">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <div class="chat-container">
        <header class="header">
            <img src="{{ site.baseurl }}/assets/img/henry.png" alt="" class="header__img">
            <h1 class="header__primary">Henry</h1>
            <h2 class="header__secondary">Personal Retirement Advisor</h2>
        </header>

        <div class="chat-list-container">

            <ul class="chat-message-list" id="message-list">
                <img src="{{ site.baseurl }}/assets/img/henry.png" class="henry">
            </ul>
        </div>

    </div>
</div>
