<section class="impact">
    <h1 class="heading impact--heading">Calculate Manifest's Impact</h1>

    <div class="chart" data-aos="fade-up">
        <div class="input-box">
            <h2 class="input-box--title">Active Participants</h2>

            <label>Number of old accounts consolidated:</label>
            <input type="number" id="numOldAccounts" placeholder="3" min="0">

            <label>Average account balance per old account:</label>

            <div>
                <span class="dollar-sign">$</span>
                <input type="number" id="avgAccountBalance" placeholder="8100" min="0" style="padding-left:20px;">
            </div>

            <button class="btn--calculate" id="calcGains">Calculate</button>
        </div>

        <div class="output">
            <h3 class="output__text">
                By transferring in <span id="numAccounts" class="number--input-single">3</span> old account(s)¹ with an
                average
                balance of <span id="avgAccount" class="number--input">$8,100</span>², participants can gain <span
                    id="gain" class="number--output">$8,748</span> from consolidation over 10 years³.
            </h3>

            <div class="output__graphic">
                <span class='graph-title-caption'>
                    Total account balance after consolidation <br>
                    <span>⤵</span></span>
                <div class='grid'>
                    <span id="unconsolidated" class='text1 grid--captions'>$8,100</span>
                    <div class='block1'></div>

                    <span class='text2 grid--captions'>Lower Fees </span>
                    <div class='block2'></div>

                    <span class='text3 grid--captions'>Easier to Manage</span>
                    <div class='block3'></div>

                    <span class='text4 grid--captions'>Lower Cash out Risks</span>
                    <div class='block4'></div>


                    <span id="consolidated" class='text5'>$33,048</span>
                    <div class='block5'></div>
                    <div class='block6'></div>
                </div>

                <div class="axis">
                    <h5 class="axis--name">Unconsolidated Accounts</h5>
                    <h5 class="axis--name">Consolidated Accounts</h5>
                </div>

            </div>
        </div>
    </div>


    <div class="chart" data-aos="fade-up">
        <div class="input-box">
            <h2 class="input-box--title">Inactive Participants</h2>

            <label>Number of inactive accounts transferred:</label>
            <input id="numInactiveAccounts" type="number" placeholder="1" min="0">

            <label data-domain="Years" class=label-years>Over a period of:</label>
            <input id="numYears" class='input-years' type="number" placeholder="5" min="0">

            <button id="calcBtnInactive" class="btn--calculate">Calculate</button>
        </div>

        <div class="output-2">
            <h3 class="output-2__text">
                For every <span id="inactiveAccountsNum" class="number--input-single">1</span> inactive account
                transferred
                out, a plan can gain <span id="inactiveGain" class="number--output">$540</span> in cost over <span
                    id="years" class="number--input-single">5</span> years⁵.
            </h3>

            <span class="circle-title-caption">Total Cost Reduction from Transferring <span>⤵</span></span>
            <div class="output-2__graphic">
                <div class="circle--1" id="costReduction">$540</div>
                <span class="num-symbol">=</span>
                <div class="circle--2">
                    <span id="employerCost-circle" class="u-graphic-caption">$360</span>
                    <span class="circle-equation">(72 x <span id="employer-circle">5</span>yrs)</span>
                </div>
                <span class="circle-caption--1">Employer Cost⁶</span>
                <span class="num-symbol">+</span>
                <div class="circle--3">
                    <span id="participantCost-circle" class="u-graphic-caption">$180</span>
                    <span class="circle-equation">(36 x <span id="participant-circle">5</span>yrs)</span>
                </div>
                <span class="circle-caption--2">Participant Cost⁷</span>
            </div>
        </div>
    </div>

    <div class="footnotes" data-aos="fade-up">
        <div class="footnotes__section">
            <h4 class="footnotes__section--title">Active Accounts</h4>
            <h5 class="footnotes__section--item"><span class="u-bold">1</span>The average American has 2.8 old accounts
                (2,500 Participant Survey)</h5>
            <h5 class="footnotes__section--item"><span class="u-bold">2</span>$8,100 is the average retirement balance
                in 2018</h5>
            <h5 class="footnotes__section--item"><span class="u-bold">3</span>Data assumes a 6% market return with a
                long-term investment horizon</h5>
            <h5 class="footnotes__section--item"><span class="u-bold">4</span>Consolidation can increase an account by
                36% over 10 years because the consolidated account is generally better managed, has lower cash out risks
                and lower fees (Washington University)</h5>
        </div>

        <div class="footnotes__section">
            <h4 class="footnotes__section--title">Inactive Accounts</h4>
            <h5 class="footnotes__section--item"><span class="u-bold">5</span>The average inactive account stays in a
                plan for 5 years or longer (Vanguard DC Survey 2018)</h5>
            <h5 class="footnotes__section--item"><span class="u-bold">6</span>Employers pay providers about $36/yr in
                administrative fees and bear a cost of $36/yr for required regulatory communication and fiduciary risk
            </h5>
            <h5 class="footnotes__section--item"><span class="u-bold">7</span>Providers charge inactive participants
                about $36 per year</h5>
        </div>
    </div>

</section>

<script src="/assets/js/impact.js"></script>