<div class="chat" onscroll="">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <header class="header">
        <h1 class="heading--blue mg-top-btm-sm">Introducing Henry!</h1>
        <img src="{{ site.baseurl }}/assets/img/henry.png" alt="" class="header__img">
    </header>

    <h2 class="grey-bold">He will ask you some more follow up questions to make your decision easy.</h2>

    <ul class="list">
        <li class="item grey-bold">
            <div class="circle-number">1</div>
            Personalized decision
        </li>
        <li class="item grey-bold">
            <div class="circle-number">2</div>
            Somebody that weighs all factors
        </li>
    </ul>

    <a class="btn btm-fixed" href="{{ site.baseurl }}/henry">Continue</a>
</div>