<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading heading--blue mg-top-btm-sm text-center">IRA</h1>
    <h1 class="heading heading--top">Based on your answers, <span class="heading--blue">our recommendation</span> for your destination account type is:</h1>

    <ul class="list">
        <li class="item">
            <div class="circle-number">1</div>
            Opportunity to actively manage <br><span class="text-wrap">your investments</span>
        </li>
        <li class="item">
            <div class="circle-number">2</div>
            Greater flexibility to invest in <br><span class="text-wrap">various kinds of assets</span>
        </li>
        <li class="item">
            <div class="circle-number">3</div>
            High potential to maximize returns
        </li>
    </ul>

    <a href="{{ site.baseurl }}/
option_2" class="explore">Explore More Options ></a>

    <a id="addLink" class="btn btm-fixed" href="{{ site.baseurl }}/option_2">Continue</a>

</div>