<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line"></div>
    </div>

    <h1 class="heading heading--top mg-btm-mid">Do you know where you want to <span class="heading--blue">transfer your TIAA account?</span></h1>

    <ul class="col" id="list">
        <li class="radio-row">
            <label for="selection" class="radio-label"> No, I don't
                <input type="radio" name="selection" value="{{ site.baseurl }}/dont_worry" onclick="onCheck(this)" class="radio-input">

                <span class="radio-img"></span>
            </label>
        </li>
        <li class="radio-row">
            <label for="selection" class="radio-label"> Yes, I do
                <input type="radio" name="selection" value="{{ site.baseurl }}/link_account_from_yes" onclick="onCheck(this)" class="radio-input">

                <span class="radio-img"></span>
            </label>
        </li>
    </ul>

    <a id="addLink" class="btn--disabled btm-fixed">Continue</a>

</div>