<div class="container">
    <div class="overlay">
        <img src="../assets/images/manifest_logo_color.png" alt="manifest" class="manifest">
    </div>

    <div class="col left">
        <video id="video-hp" loop muted autoplay playsinline >
            <source src="/assets/FINAL_WO_BG.webm" type="video/webm">
            <source src="/assets/FINAL_WO_BG.mp4" type="video/mp4">
        </video>
    </div>


    <aside class="col text-box">
        <h1 class="heading title u-mb">When you’re on the move, we make transferring a breeze!</h1>
        <p class="heading--sub">Manifest engages participants through employers and retirement providers so they can
            keep their accounts consolidated as they switch jobs.</p>

        <div class="btn">
            <a href="{% link contact.html %}" class="btn-solid-blue home-btn button">Request Demo</a>
        </div>
    </aside>

</div>

<div class="learn-more">
    <a class="learn-more--text" href="#main">Learn More</a>
    <img class="learn-more--arrow" src="/assets/images/shapes/down-arrow.svg" alt="scroll down to learn more">
</div>

<section class="three__containers container" id="main">

    <div class="home__block">
        <div class="home__block__text">
            <div class="yellow-line"></div>
            <h3 class="home__block__text--title">CONSOLIDATION</h3>
            <h2 class="home__block__text--heading">The average American has 2.8 accounts left behind</h2>
            <p>Manifest helps participants combine their accounts into an active account, often resulting in a gain of
                up to 36% over 10 years.</p>
        </div>
        <div class="home__block__img">
            <img class="home__block__img--img" src="/assets/images/Consolidation.svg"
                alt="Consolidate Old Retirement Accounts to 401(k) Plan">
        </div>
    </div>

    <div class="home__block reverse">
        <div class="home__block__text reverse--text">
            <div class="yellow-line"></div>
            <h3 class="home__block__text--title">DIGITALIZATION</h3>
            <h2 class="home__block__text--heading">Say goodbye to manual, time intensive transfers</h2>
            <p>Close to 9 out of 10 people who start a transfer today, don’t finish. Manifest is the first independent,
                digital platform making retirement transfers seamless.</p>
        </div>

        <div class="home__block__img">
            <img class="home__block__img--img" src="/assets/images/Digitization.svg"
                alt="Digitizing 401(k), 403(b), 457 Transfers">
        </div>
    </div>

    <div class="home__block">
        <div class="home__block__text">
            <div class="yellow-line"></div>
            <h3 class="home__block__text--title">TRANSPARENCY</h3>
            <h2 class="home__block__text--heading">Confidently consolidate your retirement accounts</h2>
            <p>Manifest brings transparency throughout the transferring process so participants, employers, and
                providers can easily track their accounts from start to finish.</p>
        </div>

        <div class="home__block__img">
            <img class="home__block__img--img" src="/assets/images/Transparency.svg"
                alt="Transparent Transfer Process for Participants, Providers, Employers">
        </div>
    </div>
</section>