<div class="overlay">
        <img src="../assets/img/manifest_logo_color.png" alt="manifest" class="manifest">
</div>






    <aside class="text-box">
        <h1 class="heading">When You're On The Move</h1>
        <p class="heading--sub">Manifest makes 401(k) transfers seamless - maximizing retirement outcomes and eliminating administrative hurdles.</p>

        <div class="btn">
            <a class="btn-double-border typeform-share button" href="https://sierramoore.typeform.com/to/djp4CS" target="_blank" data-mode="drawer_left" data-submit-close-delay="2">Request Demo</a>
            <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()</script>

        </div>
    </aside>

    <img class="img" src="../assets/img/elevator-cropped.jpeg" alt="elevator photo">


