<div class="chat welcome">
    <div class="top">
        <h3 class="verify-code">Linked Accounts Dashboard <a class="backArrow" onclick="goBack()"></a></h3>
        <div class="line--2"></div>
    </div>

    <h2 class="text text--black text-left">Account To Transfer:</h2>
    <img src="{{ site.baseurl }}/assets/img/card_tiaa.png"  class="card--top">

    <h3 class="text text--black text-left u-mg-top-sm">Choose Your Destination: <span class="circle-number u-plus">+</span></h3>

    <div class="card-transfer">
        <p class="card-transfer__text">Looks like you don't have any opened or linked accounts!</p>
        <a href="{{ site.baseurl }}/account_help" class="btn btn-sm">Open Account</a>
    </div>

<!--    <a href="{{ site.baseurl }}/account_help" class="btn btn-grey-2 btm-fixed">Transfer</a>-->

</div>