<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <div class="placeholder"></div>

    <h1 class="heading--top option-final-text">We have a list of all of your existing accounts</h1>

    <h1 class="heading--top option-final-text">We know where we want to transfer your account</h1>


    <a href="{{ site.baseurl }}/" class="btn-large btm-fixed">Continue</a>

</div>
