<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading heading--top">Based on your answers, <span class="heading--blue">our recommendation</span> for your destination account type is:</h1>

    <div class="white-bg">
        <p class="option-text">Option 3: <span class="heading--blue">Robo</span></p>
        <ul class="list">
            <li class="item">
                <div class="circle-number">1</div>
                Automatically invest in appropriate
                <br><span class="text-wrap">securities with minimun efforts</span>
            </li>
            <li class="item">
                <div class="circle-number">2</div>
                Effective rebalancing helps maximize
                <br><span class="text-wrap">returns</span>
            </li>
        </ul>
    </div>

    <div class="dot-container mg-top-sm">
        <a href="{{ site.baseurl }}/ira/" class="dot dot--light">.</a>
        <a href="{{ site.baseurl }}/option_2/" class="dot dot--light">.</a>
        <a href="{{ site.baseurl }}/option_3/" class="dot">.</a>
    </div>


    <a id="addLink" class="btn btm-fixed" href="{{ site.baseurl }}/option_finish">Continue</a>

</div>