<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading heading--top">Based on your answers, <span class="heading--blue">our recommendation</span> for your destination account type is:</h1>

    <div class="white-bg">
        <p class="option-text">Option 2: <span class="heading--blue">401(k)</span></p>
        <ul class="list">
            <li class="item">
                <div class="circle-number">1</div>
                Fully managed investment account
            </li>
            <li class="item">
                <div class="circle-number">2</div>
                Waiting for a new 401(k) would be
                <br><span class="text-wrap">the second best option to keep your</span>
                <br><span class="text-wrap">retirement savings invested and </span>
                <br><span class="text-wrap">growing</span>
            </li>
        </ul>
    </div>

    <div class="dot-container mg-top-sm">
        <a href="{{ site.baseurl }}/ira/" class="dot dot--light">.</a>
        <a href="{{ site.baseurl }}/option_2/" class="dot">.</a>
        <a href="{{ site.baseurl }}/option_3/" class="dot dot--light">.</a>
    </div>


    <a id="addLink" class="btn btm-fixed" href="{{ site.baseurl }}/option_3">Continue</a>

</div>