<div class="chat welcome">
 <div class="top">
     <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
     <div class="line--2"></div>
 </div>

    <div class="placeholder"></div>

    <h1 class="heading">What to <span class="heading--blue">prepare</span> for?</h1>

    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut eum, illo iure nobis numquam rerum saepe. Alias aperiam consectetur dolores in.</p>

    <div class="dot-container">
        <a href="{{ site.baseurl }}/demo_index/" class="dot dot--light">.</a>
        <a href="{{ site.baseurl }}/prepare/" class="dot">.</a>
    </div>

    <a href="{{ site.baseurl }}/requirements" class="btn-large">Create My Account</a>


     <p class="text--grey">Already have an account? <a href="{{ site.baseurl }}/signIn/" class="text--blue">Sign In</a></p>
</div>