<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading heading--blue u-mg-sm">Welcome Back!</h1>

    <form action="" class="form">
        <label for="email" class="form__label">Email or Mobile Phone</label>
        <input type="email" class="form__input" name="email">


        <label for="password" class="form__label">Password</label>
        <input type="password" class="form__input" name="password">
        <p class="text--blue u-mg-xsm">Forgot your password?</p>
    </form>

    <a href="{{ site.baseurl }}/requirements" class="btn btm-fixed">Save  &rarr;</a>
</div>