<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>


    <div class="placeholder"></div>

    <h1 class="heading heading--blue">We're Sorry!</h1>

    <h2 class="heading heading--grey-md">Currently, Manifest only works in certain scenarios.</h2>

    <p class="text">Please contact TIAA at <span class="text--blue">1 (800) 842-2252</span> or
    <br>
        Univeristy of Chicago HR at <span class="text--blue">(773) 702-9634</span>
    </p>


    <a onclick="goBack()" class="btn-large btm-fixed">&larr; &nbsp; Go Back</a>

</div>
