<div class="chat welcome back-blue">
    <div class="top">
        <h3 class="verify-code white-text">Enter Your Credentials <a class="x white-text" onclick="goBack()"></a></h3>
        <div class="line--2"></div>
    </div>

    <img src="{{ site.baseurl }}/assets/img/tiaa-logo.png" alt="" class="tiaa-logo">

    <form action="" class="tiaa-form">
        <label for="user" class="tiaa-form__label">User ID</label>
        <input type="text" name="user" class="tiaa-form__input">

        <label for="password" class="tiaa-form__label">Password</label>
        <input type="password" name="password" class="tiaa-form__input u-mg-btm-mid">
    </form>

    <a href="{{ site.baseurl }}/tiaa_success/" class="btn-large tiaa-btn">Login &nbsp; &rarr;</a>

    <a href="{{ site.baseurl }}/tiaa_fail/" class="text text--white">Reset Password</a>

</div>