<div class="chat welcome back-blue">
    <div class="top">
        <h3 class="verify-code white-text">Enter Your Credentials <a class="x white-text" onclick="goBack()"></a></h3>
        <div class="line--2"></div>
    </div>


    <img src="{{ site.baseurl }}/assets/img/tiaa-logo.png" alt="" class="tiaa-logo">

    <img src="../assets/img/TIAA_Unsuccessful_Cross.png" alt="" class="check">

    <h1 class="heading heading--white">The credentials entered were incorrect.</h1>

    <h2 class="heading--white u-font-mid u-font-wight-mid">For security reasons, your account may be temporarily locked after 3 unsuccessful attempts.</h2>

    <a href="" class="btn-large btn-white">Retry Login</a>
</div>