<div class="chat welcome back-blue">
    <div class="top">
        <h3 class="verify-code white-text">Enter Your Credentials <a class="x white-text" onclick="goBack()"></a></h3>
        <div class="line--2"></div>
    </div>

    <img src="{{ site.baseurl }}/assets/img/tiaa-logo.png" alt="" class="tiaa-logo">

    <img src="../assets/img/TIAA_Successful_Check.png" alt="" class="check">

    <h1 class="heading--white">Your Account was successfully linked to your previous 401(k) plan!</h1>

    <a href="{{ site.baseurl }}/know/" class="btn-large btn-white btm-fixed">Save  &nbsp; &rarr;</a>
</div>