<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading heading--secondary">How would you like to receive your <span class="heading--blue">verification code</span>?</h1>

    <div class="flex btm-fixed btm-fixed--2">
        <a href="{{ site.baseurl }}/verify_code" class="btn-large">Email Me</a>
        <a href="{{ site.baseurl }}/verify_code" class="btn-large">SMS Me</a>
    </div>

</div>