<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>
    <h1 class="heading heading--blue mg-top-btm-sm">Verification Code</h1>

    <p class="text">Please enter the 5 digit Verification code messaged to you.</p>

    <div class="dashes">
        <input type="number" class="dashes__line">
        <input type="number" class="dashes__line">
        <input type="number" class="dashes__line">
        <input type="number" class="dashes__line">
        <input type="number" class="dashes__line">
    </div>

    <a href="{{ site.baseurl }}/account_success/" class="btn-large">Verify Code</a>

    <p class="text--blue-large">Resend Code</p>

</div>