<div class="chat welcome back-red">
    <div class="top top--credentials">Enter Your Credentials <a class="x white-text" onclick="goBack()"></a></div>

    <img src="{{ site.baseurl }}/assets/img/wells_white.png" alt="" class="wells-logo">

    <form action="" class="tiaa-form">
        <label for="user" class="tiaa-form__label">User ID</label>
        <input type="text" name="user" class="tiaa-form__input back-red">

        <label for="password" class="tiaa-form__label">Password</label>
        <input type="password" name="password" class="tiaa-form__input u-mg-btm-mid back-red">
    </form>

    <a href="{{ site.baseurl }}/wells_success/" class="btn-large wells-btn ">Login &nbsp; &rarr;</a>

    <p class="text text--white">Reset Password</a>

</div>