<div class="chat welcome back-red">
    <div class="top top--credentials">Enter Your Credentials <a class="x white-text" onclick="goBack()"></a></div>

    <img src="{{ site.baseurl }}/assets/img/wells_white.png" alt="" class="wells-logo">

    <img src="../assets/img/Wells-fargo-Checkmark.png" alt="" class="check">

    <h1 class="heading--white">Your Account was successfully linked to your previous 401(k) plan!</h1>

    <a href="{{ site.baseurl }}/link_like/" class="btn-large wells-btn btm-fixed">Continue</a>
</div>