@import "1-base/1-base-dir";
@import "2-components/2-components-dir";
@import "3-layout/3-layout-dir";

* {
    outline: none;

    &:hover {
        transition: all 0.8s ease;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
    }

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}



// Custom Scroll
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $primary-color;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: $grey3;
}


html,
body {
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
}

body {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    max-width: 100%;

    @media(max-width:767px) {
        font-size: 14px;
        line-height: 22px;
    }
}

body,
p,
address,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $avenir;
    font-style: normal;
}

p a,
p a:hover,
p a:active,
p a:visited {
    color: $primary-color-dark;
}

h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;

    @include respond(phone) {
        font-size: 30px;
        line-height: 36px;
    }
}

h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

    @include respond(phone) {
        font-size: 18px;
        line-height: 22px;
    }
}

h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    @include respond(phone) {
        font-size: 13px;
    }
}

h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 14px;

    @include respond (phone) {
        margin-bottom: 3px;
    }
}

h5,
form label {
    color: $grey2;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    @media(max-width:767px) {
        font-size: 12px;
        line-height: 16px;
    }
}

// HEADER

.heading {
    width: 100%;
    font-weight: 600;

    @include respond (phone) {
        width: 99%;
    }

    &.inner {
        color: $primary-color;
        margin-bottom: 25px;
    }

    &.sub {
        &.inner {
            color: $primary-color;
        }
    }
}

header {
    .container {
        max-width: 1340px;
    }
}


// SECTIONS

// About
.about-mainfest {
    display: grid;
    gap: 100px;

    @include respond(tab-port) {
        gap: 80px;
    }

    .container {
        @include container-inner;
    }

    margin: 65px 0 25px 0;
}

// Contact
.contact {
    &--heading {
        margin-bottom: 55px;

        @include respond(phone) {
            margin-bottom: 36px;
        }
    }
}

section.contact {
    .container {
        @include container-inner;
    }

    margin: 60px 0 25px 0;

    @include respond(large-phone) {
        margin-top: 25px;
    }
}

.contact-btn {
    padding: 28px 40.5px;
}

// PAGE: ABOUT
.about__hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 85px;
    justify-items: center;
    align-items: center;

    padding: 0 40px;
    max-width: 1315px;
    margin: 55px auto;

    @include respond (tab-port) {
        grid-template-columns: 1fr;
    }

    @include respond(phone) {
        margin: 0 auto;
        padding: 0 30px;
        gap: 55px;
    }

    &__text {
        max-width: 480px;
        justify-self: start;

        p:not(:last-child) {
            margin-bottom: 20px;
        }

        @media (max-width:896px) {
            justify-self: center;
            max-width: 100%;
        }
    }



    .job-board {
        color: $primary-color;
        font-weight: 600;
    }
}

.brand-sec {
    padding: 0 40px 70px 40px;
    max-width: 1315px;
    margin: 55px auto;

    @include respond(phone) {
        margin-bottom: 40px;
    }

    &--title {
        margin: 0 auto;
        max-width: 1250px;
        position: relative;
        margin-bottom: 50px;
    }

    &__investors {
        display: grid;
        gap: 35px 245px;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        align-items: center;

        img {
            max-width: 175px;

            @include respond (phone) {
                width: 100%;
            }
        }

        @media (max-width:1120px) {
            gap: 35px 180px;
        }

        @include respond(phone) {
            gap: 45px 55px;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .yellow-line-about {
        width: 57px;
        height: 4px;
        top: -7px;
        background-color: $yellow;
        position: absolute;

        @include respond(phone) {
            width: 35px;
        }
    }
}

.ft-investors {
    align-self: start;

    &--name {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
        margin-bottom: 10px;

        @include respond (phone) {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &--description {
        font-size: 16px;
        line-height: 24px;

        @include respond(phone) {
            font-size: 12px;
            line-height: 18px;
        }
    }
}


// PAGE: CONTACT
.flex-grid {
    display: flex;
    justify-content: left;
    -webkit-justify-content: left;
}

.col {
    flex: 1;
}

.contact-action {
    display: none;
    text-align: center;
    padding-top: 115px;
}

.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
}

.flex-grid-thirds .col {
    width: 32%;
}

@media (max-width: 400px) {

    .flex-grid,
    .flex-grid-thirds {
        display: block;

        .col {
            width: 100%;
            margin: 0 0 10px 0;
        }
    }
}

section.contact {
    @include respond(phone) {
        padding-top: 0;
    }

    .col {
        margin-bottom: 15px;

        &.form-contact {
            max-width: 595px;

            .editor {
                margin: 20px 0 37px 0;

                @include respond(phone) {
                    margin-bottom: 25px;
                }
            }
        }

        &.contact-info {
            min-height: 590px;
            margin-left: 150px;
            max-width: 300px;

            .contact-title {
                margin-bottom: 10px;
            }

            @include respond(phone) {
                margin-left: 0;
                min-height: 300px;
                max-width: 100vh;
                width: 100%;
                padding-top: 25px;
            }

            address {
                margin-bottom: 75px;

                @include respond(phone) {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

// NAV
.nav-link.nav-open {
    display: flex !important;
    flex-direction: column;
    z-index: 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 25px 0 35px 0;
    width: 100%;

    .logo {
        height: 29px;
        padding: 0;
        width: 164px;

        img {
            max-width: 100%;
            width: 100%;

            @include respond (phone) {
                height: auto;
                width: 70%;
            }
        }
    }
}

.nav-toggle {
    border: 0;
    background-color: rgba($color: #ffffff, $alpha: 0);
    cursor: pointer;
}

.nav-link {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;

    a {
        color: $white;
        text-decoration: none;
        font-size: 17px;
        line-height: 21px;
        position: relative;
    }

    li {
        padding: 6px 20px;
        position: relative;

        a {
            &::before {
                content: "";
                position: absolute;
                bottom: -11px;
                width: 43px;
                height: 5px;
                background-color: $primary-color;
                display: none;
            }
        }

        &:last-child {
            padding-right: 0;
        }
    }

    li:hover {
        a {
            &::before {
                display: block;
            }
        }
    }

    li.active {
        position: relative;
        font-weight: 600;

        a {
            &::before {
                display: block;
            }
        }
    }
}

.nav-toggle {
    span {
        display: block;
        height: 2px;
        width: 26px;
        position: relative;
        background-color: $black;
        margin: 7px 0;
        cursor: pointer;
        transition: all ease-in-out 0.2s;

        &::after {
            content: '';
            position: absolute;
            top: -7px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $black;
            cursor: pointer;
            transition: all ease-in-out 0.2s;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $black;
            cursor: pointer;
            transition: all ease-in-out 0.2s;
        }
    }
}

.nav-toggle.close-menu {
    span {
        background: rgba($color: #000000, $alpha: 0);

        &::after {
            top: 0;
            transform: rotate(-45deg);
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }
    }
}

@media(min-width:768px) {
    .container {
        padding: 0 40px;
    }

    .nav {
        padding: 20px 0;

        .logo {
            height: 29px;
            width: 164px;
        }
    }

    .nav-toggle {
        display: none;
    }

    .nav-link {
        a {
            color: $black;
        }
    }

    .about-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -40px;

        .col {
            width: 50%;
            padding: 0 42px;
        }
    }

    .brand-logo {
        align-items: center;

        .col {
            padding: 15px 53px;
            width: 25%;
            text-align: center;
        }
    }

    .invester-info {
        margin-bottom: 30px;

        .col {
            padding: 0 92px;
            width: 33.333%;
        }
    }
}

@media(max-width:767px) {
    body {
        font-size: 14px;
        line-height: 21px;
    }

    .container {
        padding: 0 30px;
    }

    .nav-link {
        background-color: $white;
        display: none;
        margin-top: 50px;
        padding-top: 20px;
        position: absolute;
        left: 0;
        height: 100vh;
        width: 100%;

        li {
            padding: 15px 0;

            a {
                color: $primary-color;
                font-size: 20px;
                line-height: 24px;
                display: inline-block;
                width: 100%;

                &::before {
                    background-color: $white;
                }
            }

            &.active {
                a {
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 30px;
                }
            }
        }
    }

    h1 {
        margin-bottom: 20px;
    }

    .contact-action {
        text-align: center;
        padding-top: 35px;
    }

    .brand-sec {
        padding-bottom: 25px;

        @include respond (phone) {
            margin-top: 40px;
        }
    }
}