@import "1-abstracts/1-abstracts-dir";
@import "2-base/2-base-dir";
@import "3-components/3-components-dir";
@import "4-layout/4-layout-dir";

* {
    outline: none;

    &:hover {
        transition: all 0.8s ease;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
    }

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html,
body,
textarea {
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
}

body,
input,
textarea {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    max-width: 100%;

    @include respond(phone) {
        font-size: 14px;
        line-height: 21px;
    }
}

p:not(:last-child) {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

h1 {
    font-size: 38px;
    line-height: 46px;

    @include respond(phone) {
        font-size: 30px;
        line-height: 36px;
    }
}

h2 {
    font-size: 25px;
    line-height: 35px;

    @include respond(phone) {
        font-size: 18px;
        line-height: 26px;
    }
}

h3 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .05em;

    @include respond(phone) {
        font-size: 13px;
    }
}

h4 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include respond (phone) {
        font-size: 14px;
        line-height: 17px;
    }
}

h5,
form label {
    color: $grey2;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    @media(max-width:767px) {
        font-size: 12px;
        line-height: 16px;
    }
}

// HEADER
header {
    .container {
        max-width: 1340px;
    }
}