@mixin btnBase {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;

  @include respond(phone) {
    font-size: 15px;
    margin: 0 auto;
  }
}

// ACTION BUTTONS
.btn {
  @include btnBase;
  border-radius: 4px;
  width: max-content;
  display: flex;
  border: none;
  transition: all 0.3s;

  &--request-demo {
    @extend .btn;
    padding: 8px 30px;
    color: var(--white);
    margin: 0 auto;
    background-color: var(--color-secondary);

    @include respond(phone) {
      margin: 0;
    }
  }

  &--stories {
    @extend .btn;
    padding: 8px 0;
    color: var(--color-secondary);
    margin: 0 auto;

    @include respond(phone) {
      margin: 0;
    }
  }

  &--return-home {
    @extend .btn;
    padding: 8px 30px;
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
    max-width: 120px;

    &:hover {
      background: var(--color-secondary);
      color: var(--white);
    }

    @include respond(tablet) {
      margin: 50px 0;
    }
  }

  &--calculate {
    @extend .btn;
    padding: 20px 59px;

    @include respond(phone) {
      padding: 15px 48px;
    }

    &:focus {
    }
  }

  &--submit-form {
    @extend .btn;
    padding: 21px 70px;

    &:focus {
      transform: translateY(-3px);
    }

    &:disabled {
      cursor: not-allowed;
    }

    @include respond(phone) {
      padding: 17px 57px;
    }
  }
}

// LEARN MORE
.learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: max-content;

  &--text {
    @include btnBase;
    color: var(--color-secondary);
    font-weight: 400;
    margin-bottom: 8px;
    z-index: 10;

    @include respond(phone) {
      font-size: 15px;
    }
  }

  &--arrow {
    width: 20px;
    height: auto;
  }
}
