.footer {
  padding: 40px 15px 15px 20px;
  margin-bottom: 25px;
  text-align: center;

  @include respond (phone) {
    font-size: 10px;
  }

  &__copyright {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    max-width: 313px;
    margin: 0 auto 14px auto;

    .socials {
      display: flex;
      margin-right: 20px;

      .u-mr {
        margin-right: 11px;
      }
    }

    @include respond (phone) {
      margin: 0 auto 10px auto;
      font-size: 12px;
    }
  }

  &__legal {
    font-size: 12px;

    @include respond (phone) {
      font-size: 10px;
      line-height: 14px;
    }
  }
}

body {
  background: url('../images/manifest_footer_large.svg') no-repeat center bottom $white;
  box-sizing: border-box;
  font-family: $avenir;
  max-width: 114rem;
  min-height: 100vh;
  overflow-x: hidden;

  @include respond (phone) {
    background-size: 430%;
  }
}