.footer {
  background-color: var(--color-primary);

  &__content {
    padding: 40px;

    @include respond(phone) {
      padding: 60px 20px 100px 20px;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      @include respond(phone) {
        flex-direction: column;
        margin-bottom: 50px;
      }

      .logo {
        max-width: 100px;
        height: auto;

        @include respond(phone) {
          margin-bottom: 50px;
        }
      }
    }

    &__legal {
      max-width: 1050px;
      display: block;
      color: var(--color-text-dark-3);
    }
  }
}
