.nav {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

  @include respond(phone) {
    margin-top: 20px;
  }

  &__logo {
    width: 120px;
    height: auto;
  }

  &__links {
    display: flex;

    .nav-link {
      color: var(--color-text-dark);
      transition: all 0.3;
      position: relative;
    }
  }
}

.active {
  color: var(--color-secondary) !important;
  font-weight: 600;
}

.push-right {
  margin-right: 80px;

  @include respond(phone) {
    margin-right: 20px;
  }
}
