// ************ NAV ************
.nav-link.nav-open {
  display: flex !important;
  flex-direction: column;
  z-index: 10;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 25px 0 15px 0 !important;
  width: 100%;
  // transition: all .3s;
  z-index: 100;

  @include respond(phone) {
    padding-bottom: 60px;
  }

  .logo {
    height: 29px;
    padding: 0;
    width: 164px;

    img {
      max-width: 100%;
      width: 100%;

      @include respond(phone) {
        height: auto;
        width: 70%;
      }
    }
  }
}

.nav-toggle {
  background: none;
  border: 0;
  cursor: pointer;
}

.nav-link {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;

  a {
    text-decoration: none;
    font-size: 17px;
    line-height: 21px;
    position: relative;
  }

  li {
    padding: 6px 20px;
    position: relative;

    a {
      &::before {
        content: '';
        position: absolute;
        bottom: -11px;
        width: 43px;
        height: 5px;
        display: none;
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

  li:hover {
    a {
      &::before {
        display: block;
      }
    }
  }

  li.active {
    position: relative;
    font-weight: 600;

    a {
      &::before {
        display: block;
      }
    }
  }
}

.nav-toggle {
  span {
    display: block;
    height: 2px;
    width: 26px;
    position: relative;
    margin: 7px 0;
    cursor: pointer;
    // transition: all ease-in-out 0.2s;

    &::after {
      content: '';
      position: absolute;
      top: -7px;
      left: 0;
      height: 2px;
      width: 100%;
      cursor: pointer;
      transition: all ease-in-out 0.2s;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -7px;
      left: 0;
      height: 2px;
      width: 100%;
      cursor: pointer;
      transition: all ease-in-out 0.2s;
    }
  }
}

.nav-toggle.close-menu {
  span {
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }

    &::before {
      top: 0;
      transform: rotate(45deg);
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }

  .nav {
    padding: 20px 0;

    .logo {
      height: 29px;
      width: 164px;
    }
  }

  .nav-toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 30px;
  }

  .nav-link {
    display: none;
    padding-top: 20px;
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100%;

    li {
      padding: 15px 0;

      a {
        font-size: 20px;
        line-height: 24px;
        display: inline-block;
        width: 100%;
        color: var(--color-text-dark);
      }
    }
  }

  h1 {
    margin-bottom: 20px;
  }
}

.fullscreen {
  position: fixed;
  margin-top: 30px;
  width: 100vw;
  height: 180vh;
  padding: 20px !important;
  background-color: var(--color-primary);
}

@-moz-document url-prefix() {
  .fullscreen {
    margin-top: 60px;
  }
}

.active {
  color: var(--color-secondary) !important;
  font-weight: 600;
}

.nav-link a {
  color: var(--color-text-dark);
}

.nav-link {
  padding: 20px;
  // background-color: var(--color-primary);
}
