.yellow-line {
  border: none;
  margin-bottom: 10px;

  @include respond(phone) {
    margin-bottom: 5px;
  }

  &--home {
    @extend .yellow-line;
    width: 29px;
    height: 3px;

    @include respond(phone) {
      width: 24px;
    }
  }

  &--about {
    @extend .yellow-line;
    width: 60px;
    height: 5px;

    @include respond(phone) {
      width: 33px;
      height: 3px;
    }
  }
}
