.chat {
  @include absCenter;
  background-color: $background-grey-2;
  height: $phone-height;
  width: $phone-width;
  overflow-y: auto;
  overflow-x: hidden;

  @include respond(isPhone){
    width: 100vw;
    height: 100vh;
  }
}
.chat-message-list {
  //height: 100%;
  //height: 66rem;

  display: flex;
  flex-direction: column;

}
.top {
  width: 100%;
  height: auto;
  position: sticky;
}
.typing {
  display: flex;
  align-content: center;
  align-items: center;

  &__henry {
    width: 4rem;
    height: auto;
    margin: 0 1rem 0 2.4rem;
  }
}

.henry {
  width: 4rem;
  height: auto;
  margin: 0 1rem 0 0;

  position: absolute;
  left: 2.4rem;

  //opacity: 1;
  //animation: .5s moveDown forwards;
}

.user-w-msg {
  position: relative;
}

.chat ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.message-left {
  background: $light-grey-2;
  font-family: $avenir;
  font-size: 1.5rem;
  border-radius: $msg-border;
  padding: 1rem 1.6rem;
  max-width: 60%;
  margin: 1rem auto 1.5rem 8rem;

  color: $light-grey-2;
  opacity: 0;
  animation:
          //.8s sk-bouncedelay forwards 2 0s,
          .5s msgExpandLeft forwards;

  //&::before {
  //  content: url("/assets/img/henry-icon.png");
  //  position: absolute;
  //  left: -6.4rem;
  //  animation: .3s movedown forwards;
  //}

  //clear: right;
  //display: inline-block;
}

.message-right {
  display: inline-block;
  font-family: $avenir;
  padding: 1rem 1.6rem;
  font-size: 1.5rem;
  background: $blue;
  color: #fff;
  border-radius: $msg-border-right;

  //float: right;
  right: 3rem;
  position: relative;

  align-self: flex-end;
  animation:
          .5s msgExpandRight forwards .6s;

  &::before {
    content: url("../../assets/img/edit-icon.png");
    position: absolute;
    left: -1.5rem;
    top: -1rem;
  }
}

.input {
  display: inline-block;
  font-family: $avenir;
  letter-spacing: 1px;
  font-size: 1.4rem;
  background: #f9f9f9;
  border:none;
  border-bottom: 2px solid $blue;
  outline: none;
  width: 80%;
  position: relative;
  bottom: 0;

  padding: .5rem 1rem;
  margin: 1.5rem auto;
  //margin-left: auto;
  //margin-right: auto;
  left: 9%;

  &:placeholder-shown {
    color: $light-grey;

  }
}

//.spinme-left {
//  display: inline-block;
//  padding: 15px 20px;
//  font-size: 14px;
//  color: $blue;
//  border-radius: 30px;
//  line-height: 1.25em;
//  font-weight: 100;
//  opacity: 0.2;
//}
//
//.spinner {
//  margin: 0;
//  width: 5rem;
//  text-align: center;
//  @extend .message-left;
//  position: relative;
//  left: 8rem;
//  top: -7rem;
//  //z-index: -1;
//}
//
//.spinner > div {
//  width: 10px;
//  height: 10px;
//  border-radius: 100%;
//  display: inline-block;
//  //animation: sk-bouncedelay 1.4s forwards 2 1s;
//  background: $blue;
//
//  @for $i from 1 through 3 {
//    &:nth-of-type(#{$i}) {
//      animation: 1.5s blink forwards ($i * .3333s) 4;
//    }
//  }
//}
//
//.spinner .bounce1 {
//  -webkit-animation-delay: -0.32s;
//  animation-delay: -0.32s;
//}
//
//.spinner .bounce2 {
//  -webkit-animation-delay: -0.16s;
//  animation-delay: -0.16s;
//}

