// ABOUT PAGE
.about-xp {
  margin-top: 50px;
  margin-bottom: 80px;

  @include respond(phone) {
    margin-bottom: 100px;
  }

  &--title {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    max-width: 65vw;
    margin: 80px auto;
    margin-top: 80px;
    gap: 150px;
    position: relative;

    @include respond(laptop) {
      gap: 100px;
    }

    @include respond(phone) {
      margin-top: 90px;
      max-width: none;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include respond(laptop) {
        flex-direction: column;
      }

      &--img {
        background-color: var(--color-primary);
        border-radius: 20px;
        max-width: 300px;
        height: auto;
        margin-right: 40px;

        @include respond(laptop) {
          max-width: 100%;
          margin-bottom: 35px;
          margin-right: 0;
        }

        @include respond(phone) {
          border-radius: 0;
        }
      }

      &--text {
        max-width: 550px;

        @include respond(phone) {
          padding: 0 20px;
        }
      }
    }
  }
}

.brand-sec {
  padding: 0 40px 70px 40px;
  max-width: 1315px;
  margin: 55px auto;

  @include respond(phone) {
    margin: 40px auto;
    margin-bottom: 25px;
  }

  &--title {
    margin: 0 auto;
    max-width: 1250px;
    position: relative;
    margin-bottom: 60px;

    @include respond(phone) {
      margin-bottom: 50px;
    }
  }

  &__investors {
    display: grid;
    gap: 35px 245px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    align-items: center;

    img {
      max-width: 175px;

      @include respond(phone) {
        width: 100%;
      }
    }

    @media (max-width: 1120px) {
      gap: 35px 180px;
    }

    @include respond(phone) {
      gap: 45px 47px;
      grid-template-columns: repeat(2, 1fr);
    }

    .investor {
      align-self: start;

      &--name {
        margin-bottom: 6px;

        @include respond(phone) {
          margin-bottom: 4px;
        }
      }

      &--title {
        font-size: 16px;
        line-height: 24px;

        @include respond(phone) {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}
