// CONTACT PAGE
.contact {
  margin-top: 55px;

  @include respond(phone) {
    margin-top: 0;
  }

  &--heading {
    max-width: 1250px;
    padding: 0 40px;
    margin: 0 auto;
    margin-bottom: 58px;

    @include respond(phone) {
      margin-bottom: 36px;
      padding: 0 30px;
    }
  }

  &__container {
    display: grid;
    max-width: 1250px;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 150px;
    padding: 0 40px;
    margin-bottom: 100px;

    @media (max-width:1000px) {
      grid-template-columns: 1fr;
      max-width: max-content;
      gap: 60px;
    }

    @include respond(phone) {
      padding: 0 30px;
      margin-bottom: 60px;
    }

    &__form {
      width: 600px;

      @media (max-width:1000px) {
        width: auto;
      }

      .name {
        display: flex;

        input {
          width: 50%;
        }
      }

      .btn {
        margin-top: 35px;

        @include respond(phone) {
          margin-top: 25px;
        }
      }
    }

    &__info {

      &--title {
        margin-bottom: 10px;
      }

      address {
        font-style: normal;
        margin-bottom: 75px;

        @include respond(phone) {
          margin-bottom: 25px;
        }
      }
    }
  }

  input {
    border: none;
    border-bottom: 1px solid $grey2;
    margin: 5px 0 27px 0;
    padding-bottom: 18px;

    @include respond(phone) {
      margin: 11px 0 27px 0;
      padding-bottom: 14px;
    }

    &:focus {
      border-bottom: 2px solid $primary-color;
    }
  }

  textarea {
    margin-top: 20px;
    background: #f0f0f0;
    border: none;
    border-radius: 10px;
    min-height: 237px;
    padding: 20px;
    resize: none;
  }
}