.error-404 {
  background-color: #E4ECFF;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 52px;

  @include respond (phone) {
    grid-template-columns: 1fr;
    gap: 58px;
  }


  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    max-width: 586px;
    text-align: center;

    @include respond(phone) {
      margin-bottom: 140px;
      padding: 20px;
    }

    &--btn {
      margin-top: 50px;
    }
  }
}