.error-404 {
  background-color: var(--white);
  height: 70vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  max-width: 90vw;
  margin: 0 auto;
  align-items: center;

  @include respond(tablet) {
    margin-top: 60px;
    grid-template-columns: 1fr;
    gap: 60px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 586px;

    p {
      color: var(--color-text-light);
    }

    .btn--return-home {
      margin-top: 50px;
    }
  }
}
