// HOME PAGE
.home {
  background-color: var(--color-primary);
}

.hero {
  display: grid;
  gap: 48px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;

  padding-bottom: 32px;
  background-color: var(--color-primary);
  min-height: 70vh;
  max-width: 85vw;
  margin: 0 auto;
  margin-top: 70px;

  @include respond(phone) {
    max-width: 90vw;
    padding: 20px;
    margin-top: 25px;
    max-width: none;
  }

  .hero-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1239px) {
      justify-content: center;
    }
  }

  &--video {
    width: 500px;
    height: auto;

    @include respond(laptop) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 820px) {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 550px;
    height: auto;

    &--para {
      margin-bottom: 40px;
    }
  }
}

.features {
  background-color: var(--white);
  margin-top: 100px;

  @include respond(tabletSm) {
    margin-top: 40px;
  }
}

.three-features {
  padding-top: 100px !important;
  padding-bottom: 83px !important;
  padding: 0 40px;
  display: grid;
  gap: 150px;

  @include respond(phone) {
    padding: 40px !important;
    gap: 100px;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include respond(laptop) {
      flex-direction: column-reverse;
    }
    .text {
      max-width: 550px;
    }

    .graphic {
      @include respond(laptop) {
        margin-bottom: 50px;
      }

      &--video-consolidation {
        max-width: 260px;
        height: auto;
      }

      &--video-industry {
        max-width: 350px;
        height: auto;

        @include respond(tabletSm) {
          max-width: 100%;
        }
      }
    }

    .card {
      max-width: 422px;
      background: var(--white);
      padding: 30px;
      box-shadow: var(--shadow);
      border-radius: 16.66px;

      @include respond(laptop) {
        margin-bottom: 50px;
      }

      @include respond(phone) {
        border-radius: 16.66px;
        padding: 20px;
        margin: 0 auto;
        width: auto;
        margin-top: 25px;
      }

      &--heading {
        text-align: center;
      }

      &__grid {
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 45px 60px;
        grid-template-columns: repeat(2, 1fr);
        margin: 30px 0;

        @include respond(phone) {
          margin: 20px 0;
        }
      }

      &--footer {
        text-align: center;
      }
    }
  }
}

.cta {
  background-image: url('../../assets/images/home/left.svg'),
    url('../../assets/images/home/right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left, right;
  background-color: var(--white);
  height: 500px;
  display: flex;
  align-items: center;

  @include respond(tablet) {
    background-image: url('../../assets/images/home/right.svg');
    background-position: right;
  }

  @include respond(phone) {
    height: 400px;
  }

  &__text {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;

    @include respond(phone) {
      padding: 0 20px;
    }

    &--title {
      text-align: center;
      margin-bottom: 50px;
    }
  }
}
