@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
.heading {
  margin-bottom: 20px;

  @include respond(phone) {
    margin-bottom: 18px;
  }
}

html,
body,
textarea,
input {
  font-family: $body;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  @include respond(phone) {
    font-size: 14px;
    line-height: 21px;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--color-text-dark);

  @include respond(phone) {
    font-size: 25px;
    line-height: 32px;
  }
}

h2 {
  font-size: 25px;
  line-height: 35px;

  @include respond(phone) {
    font-size: 18px;
    line-height: 26px;
  }
}

h3 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;

  @include respond(phone) {
    font-size: 13px;
  }
}

h4 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 14px;
    line-height: 17px;
  }
}

h5,
form label {
  font-family: $body;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 16px;
  }
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-dark);
}
